@import "bootstrap/scss/bootstrap";


.done{
    color: #0f0;
    text-decoration: line-through;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

.todolist {
	.list-group-item {
		display: flex;
		justify-content: space-between;

		&.completed { //both classes
			.todo-title {
				color: $success;
				font-style: italic;
				text-decoration: line-through;
			}
		}
	}
}

$green: #0f0